* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  color: white;
  font-family: "Dosis", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85vh;
}


.background-video {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
  z-index: -1;
}


h1 {
  font-size: 40px;
}


h2 {
  font-size: 20px;
}


a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: orangered;
  }
}


.bottomright {
  position: absolute;
  bottom: 0.65%;
  padding-left: 0.65%;
  padding-top: 0.65%;
  right: 0 !important;
  bottom: 0 !important;
  margin-right: 30px;
}

.media > a{
  padding: 5%;
}


img {
  width: 5%;
  margin-top: 25px;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  transform: scale(1.2) translateY(-10px);
  }
}


.logo {
  width: 25%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: rotate(-8deg);
  }
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

